doctype html
html
  head
    title GitSearch
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/app.js')
  body
    section(class = 'container')
      block content
      //block primary
      block sidebar
